<main class="container row pt-5">
  <div id="loader" *ngIf="!loaded" class="spinner-border text-info spinner" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="row 100-w" style="max-width: none;" *ngIf="loaded">
      <div class="card col-5 p-0">
          <h5 class="card-header bg-dark text-light">User Information</h5>
          <div class="card-body">
              <p class="card-text">Username: <span>{{ profile.username }}</span></p>
              <p class="card-text">Name: <span>{{ profile.ClientProfile.firstName }} {{ profile.ClientProfile.lastName }}</span></p> 
              <form class="row g-3">
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder={{profile.ClientProfile.email}}>
                  </div>
                  <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Address</label>
                    <hr>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" class="form-select">
                      <option selected>...</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                  <span>*Address functionality coming soon</span>
                  <div class="col-12">
                    <button type="submit" class="btn btn-outline-success">Save Changes</button>
                  </div>
                </form>
          </div>
      </div>
      <div class="col-1">
  
      </div>
      <div id="how" class="card col-5 p-0 orange text-light">
          <h5 class="card-header darker text-light">Wallet</h5>
          <div class="card-body">
              <h5 class="card-title">Current Information</h5>
              <h3 class="card-text">Balance: <span style="color:rgb(71, 238, 71)">$ {{ profile.transactions.Wallet.currencyAmount.toLocaleString("en-US") }}</span></h3>
              <h4 class="card-text">Currency: <span style="color:rgb(71, 238, 71)">{{profile.transactions.Wallet.currencyType}}</span></h4>
              <h4 class="card-text">Primary Payment Option</h4>
              <form class="row g-3">
                  <div class="col-md-6">
                      <label for="inputFirstName" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="inputFirstName" value={{profile.ClientProfile.firstName}}>
                  </div>
                  <div class="col-md-6">
                      <label for="inputLastName" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="inputLastName" value={{profile.ClientProfile.lastName}}>
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Card Number</label>
                    <input type="text" class="form-control" id="inputCardNumber" placeholder="**** ***** **** ****">
                    <i class="fa-brands fa-cc-visa"></i>
                    -
                    <i class="fa-brands fa-cc-mastercard"></i>
                    -
                    <i class="fa-brands fa-cc-discover"></i>                    </div>
                  <div class="col-md-6">
                      <label for="inputExpiration" class="form-label">Expiration Date</label>
                      <input type="text" class="form-control" id="inputExpiration" placeholder="**/****">
                  </div>
                  <div class="col-md-6">
                      <label for="inputCVC" class="form-label">Security Code</label>
                      <input type="text" class="form-control" id="inputCVC" placeholder="***">
                  </div>
                  <span>*CC simulation for display purposes only</span>
                  <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Billing Address Same As Residential Address</label>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-outline-success btn-light">Save Changes</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="row mt-5" *ngIf="loaded">
      <div class="card col-12 p-0 bg-dark text-light">
          <h5 class="card-header">Transactions</h5>
          <div class="card-body row g-3 w-100">
              <h5 class="card-title">Approved Transactions</h5>
              <div class="row w-100 p-0 m-0 justify-content-center">
                <h5 class="text-center" *ngIf="profile.transactions.Transactions.length === 0">No transactions</h5>
                <div class="card col-3-lg col-md-3 col-sm-10 p-0 orange text-light m-2 d-flex"  *ngFor="let transaction of profile.transactions.Transactions.reverse()">
                  <div class="container" *ngIf="transaction.type !== 'deposit'">
                      <h5 class="card-header">Date <span class="floatRight">{{ transaction.createdAt.slice(0,10) }}</span></h5>
                      <p class="card-text">Type <span class="floatRight">{{ transaction.type }}</span></p>
                      <p class="card-text">Fund <span class="floatRight">{{ transaction.itemDescription }}</span></p>
                      <p class="card-text">Quantity <span class="floatRight">{{ transaction.quantity }}</span></p>
                      <p class="card-text">Price Per: <span class="floatRight" type="number" style="color:rgb(71, 238, 71)">$ {{ transaction.pricePerUnit.toFixed(2).toLocaleString() }}</span></p>
                      <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ {{ transaction.amount.toFixed(2) }}</span></p>
                  </div>
                  <div class="container" *ngIf="transaction.type === 'deposit'">
                      <h5 class="card-header">Date <span class="floatRight">{{ transaction.createdAt.slice(0,10) }}</span></h5>
                      <p class="card-text">Type <span class="floatRight">{{ transaction.type }}</span></p>
                      <p class="card-text">Amount <span class="floatRight" style="color:rgb(71, 238, 71)">$ {{ transaction.amount.toFixed(2) }}</span></p>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</main>
