main {
    width: 100vw;
    margin-right: 0px;
    margin-top: 10vh;
}

main {
    max-width: none;
}

#loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.spinner {
    width: 100px;
    height: 100px;
}