<main class="container row pt-5">
    <div class="row 100-w" style="max-width: none;">
        <div class="card col-5 p-0">
            <h5 class="card-header bg-dark text-light">User Information</h5>
            <div class="card-body">
                <h5 class="card-title">Sample Headline</h5>
                <p class="card-text">Username <span></span></p>
                <p class="card-text">Name <span></span></p> 
                <form class="row g-3">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Address</label>
                      <hr>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">State</label>
                      <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-outline-success">Save Changes</button>
                    </div>
                  </form>
            </div>
        </div>
        <div class="col">
    
        </div>
        <div id="how" class="card col-5 p-0 orange text-light">
            <h5 class="card-header darker text-light">Wallet</h5>
            <div class="card-body">
                <h5 class="card-title">Current Information</h5>
                <h3 class="card-text">Balance: <span style="color:rgb(71, 238, 71)">$ 1234.56</span></h3>
                <h4 class="card-text">Currency: <span>USD</span></h4>
                <h4 class="card-text">Primary Payment Option</h4>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Card Number</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="**** ***** **** 1234">
                    </div>
                    <div class="col-md-6">
                        <label for="inputExpiration" class="form-label">Expiration Date</label>
                        <input type="text" class="form-control" id="inputExpiration" placeholder="MM/YYYY">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCVC" class="form-label">Security Code</label>
                        <input type="text" class="form-control" id="inputCVC" placeholder="012">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Billing Address Same As Residential Address</label>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-outline-success btn-light">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="card col-12 p-0 bg-dark text-light">
            <h5 class="card-header">Transactions</h5>
            <div class="card-body row g-3 w-100">
                <h5 class="card-title">Approved Transactions</h5>
                <div class="row w-100 p-0 m-0 justify-content-center">
                    <div class="card col-3 p-0 orange text-light m-2 d-flex">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Purchase</span></p>
                        <p class="card-text">Fund <span class="floatRight">Sample Fund</span></p>
                        <p class="card-text">Quantity <span class="floatRight">3</span></p>
                        <p class="card-text">Price Per: <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                        <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                    </div>
                    <div class="card col-3 p-0 orange text-light m-2">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Purchase</span></p>
                        <p class="card-text">Fund <span class="floatRight">Sample Fund</span></p>
                        <p class="card-text">Quantity <span class="floatRight">3</span></p>
                        <p class="card-text">Price Per: <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                        <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                    </div>
                    <div class="card col-3 p-0 orange text-light m-2">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Purchase</span></p>
                        <p class="card-text">Fund <span class="floatRight">Sample Fund</span></p>
                        <p class="card-text">Quantity <span class="floatRight">3</span></p>
                        <p class="card-text">Price Per: <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                        <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                    </div>
                    <div class="card col-3 p-0 orange text-light m-2">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Purchase</span></p>
                        <p class="card-text">Fund <span class="floatRight">Sample Fund</span></p>
                        <p class="card-text">Quantity <span class="floatRight">3</span></p>
                        <p class="card-text">Price Per: <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                        <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                    </div>
                    <div class="card col-3 p-0 orange text-light m-2">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Purchase</span></p>
                        <p class="card-text">Fund <span class="floatRight">Sample Fund</span></p>
                        <p class="card-text">Quantity <span class="floatRight">3</span></p>
                        <p class="card-text">Price Per: <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                        <p class="card-text">Total <span class="floatRight" style="color:rgb(71, 238, 71)">$ 120.00</span></p>
                    </div>
                    <div class="card col-3 p-0 orange text-light m-2">
                        <h5 class="card-header">Date <span class="floatRight">01 / 19 / 2022</span></h5>
                        <p class="card-text">Type <span class="floatRight">Deposit</span></p>
                        <p class="card-text">Amount <span class="floatRight" style="color:rgb(71, 238, 71)">$ 2000.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>