<!-- 
    <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
<nav>
    <div class="nav-wrapper">
      <a href="/" class=""><img class="logo" src="../../assets/logo-1.png" /><span class="company">Secure Financial</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        Dropdown Trigger
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
</nav> 
-->
<nav class="uk-navbar">
    <!-- <div class="uk-grid">
        <div class="uk-width-1-2">

        </div>
        <div class="uk-width-1-2">
            <div class="uk-grid">
                <div class="uk-width-1-2">

                </div>
                <div class="uk-width-1-2">

                </div>
            </div>
        </div>
    </div> -->
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href=""><img class="logo" src="../../assets/logo-1.png" /><span class="company">Secure Financial</span></a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="uk-parent"><a href="">Invest</a></li>
        <li class="uk-parent"><a href="">Mutual Funds</a></li>
    </ul>
    
</nav>