<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img1.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img2.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img3.jfif" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<main class="row pt-5">
    <div class="card col-6 p-0">
        <h5 class="card-header bg-dark text-light">Investments Made Easy</h5>
        <div class="card-body">
            <p class="card-text">Here at Secure Financial we make investing easy. Our goal is to provide our clients with a wide variety of mutual funds to meet your financial planning needs.</p>
        </div>
    </div>
    <div class="col">

    </div>
    <div id="how" class="card col-5 p-0 orange">
        <h5 class="card-header darker text-light">How It Works</h5>
        <div class="card-body">
            <h5 class="card-title">It's simple!</h5>
            <ul>
                <li class="card-text">Sign up or Log in</li>
                <li class="card-text">Load your account with money through our secure payments service.</li>
                <li class="card-text">Browse and purchase mutual funds.</li>
                <li class="card-text">Monitor your funds and cash out at any time.</li>
            </ul>
        </div>
    </div>
</main>