<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img1.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img2.jfif" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img3.jfif" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<main class="row pt-5">
    <div class="card col-6 p-0">
        <h5 class="card-header bg-dark text-light">Investments Made Easy</h5>
        <div class="card-body">
            <h5 class="card-title">Sample Headline</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eius quas inventore, ex rem blanditiis tempora illo sit veritatis id alias, accusantium ratione ipsa dolores ad aspernatur voluptas quia non? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum illo a, et necessitatibus doloribus aut optio sed qui fugit, accusamus, odio veniam. Cupiditate aut provident autem officiis asperiores, assumenda quae.</p>
        </div>
    </div>
    <div class="col">

    </div>
    <div id="how" class="card col-5 p-0 orange">
        <h5 class="card-header darker text-light">How It Works</h5>
        <div class="card-body">
            <h5 class="card-title">Sample Headline</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo, esse expedita! Quis architecto rerum, tempora iusto laudantium eaque dignissimos esse rem, provident voluptatem ut nisi. Quisquam exercitationem minima accusamus! Ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet qui pariatur iste aperiam cupiditate aliquid dignissimos. Eveniet provident est mollitia sunt. Velit odit tenetur et unde fugit dolor deleniti iusto?</p>
        </div>
    </div>
</main>