main {
    top: 15vh;
}

table, tr, td, th {
    border: 2px solid black;
}
/* 
table {
    display: flexbox;
    flex-direction: column;
} */

th {
    text-align: center;
    background-color: rgb(94, 183, 206);
    color: white;
    text-shadow: 2px 2px black;
}

tbody:nth-child(even){
    background-color: rgba(128, 128, 128, 0.198);
}

tr:hover {
    background-color: rgb(94, 183, 206);
    color: white;
    text-shadow: 2px 2px black;
}

#fundOverview {
    position: fixed;
    right: 0;
}

.blueBg {
    background-color: rgb(94, 183, 206)
}
.view {
    border: none;
    background: none;
}

#loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
}

.spinner {
    width: 100px;
    height: 100px;
}